@{
    ViewData["Title"] = "Giỏ hàng";
}

<link rel="stylesheet" type="text/css" href="./../css/GioHang.css">

<div class="customer-cart">
    <div class="breadcrumb">
        <a href="/" class="home">Trang chủ</a>
        <span class="dot">•</span>
        <a class="cart">Giỏ hàng</a>
    </div>

    <div class="cart-container">
        <div class="product-quantity-cart">
            <h1>Giỏ hàng</h1>
            <div class="product-count">
                <p class="quantity">0</p>
                <p>sản phẩm</p>
            </div>
        </div>
        <div class="empty-cart">
            <img src="./../images/shopping.png" alt="Giỏ hàng đang trống" />
            <p> Giỏ hàng đang trống</p>
        </div>
    </div>

    <button class="back-button">Quay về trang chủ</button>
</div>
