@font-face {
    font-family: 'quicksand-regular';
    src: url('../fonts/quicksand-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'quicksand-bold';
    src: url('../fonts/quicksand-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'quicksand-semibold';
    src: url('../fonts/quicksand-semibold.ttf') format('truetype');
}
/*------- Thanh điều hướng ---------*/
.breadcrumb {
    font-family: 'quicksand-semibold', sans-serif;
    font-size: 14px;
    background-color: white; /* Màu nền sáng */
    padding: 5px;
    border: 2px solid #1E4752;
    border-radius: 18px;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}


.home, .user-info {
    text-decoration: none;
    padding: 0 10px; /* Padding để tạo khoảng cách giữa các liên kết */
    line-height: 1.5; /* Căn chỉnh chiều cao của liên kết */
}

.home {
    color: #000000;
}

.user-info {
    color: #E4A400;
}

.breadcrumb a:hover {
    color: #E4A400; /* Màu khi di chuột vào */
}

.dot {
    color: #5c5c5c;
    padding: 0 5px; /* Khoảng cách giữa dấu chấm và các liên kết */
    line-height: 1.5;
    font-size: 20px; /* Căn chỉnh chiều cao cho dấu chấm */
}

/*------------- Tài khoản ------------------*/

.profile-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.sidebar, .profile-info {
    border: 2px solid #E4E4E4;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.sidebar {
    width: 350px;
    background-color: #1E4752;
    border: none;
    height: 60%;
    color: white;
    align-items: center;
    
}

    .sidebar img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    .sidebar h2 {
        margin-bottom: 20px;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

        .sidebar ul li {
            flex: 1;
            margin: 10px 0;
        }

            .sidebar ul li a {
                display: block; /* Đảm bảo liên kết chiếm toàn bộ không gian của li */
                text-decoration: none;
                color: white;
                padding: 5px;
                border-radius: 25px;
                padding-right: 40px;
            }


.order i, .address i, .change-pass i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Đường kính của vòng tròn */
    height: 40px; /* Đường kính của vòng tròn */
    border: 1.5px dashed white; /* Màu viền */
    border-radius: 50%; /* Tạo hình tròn */
    background-color: #1E4752; /* Màu nền */
    color: white; /* Màu icon */
    margin-right: 10px;
}

.user {
    border: 1px solid white;
}

    .user i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px; /* Đường kính của vòng tròn */
        height: 40px; /* Đường kính của vòng tròn */
        border: 1.5px dashed white; /* Màu viền */
        border-radius: 50%; /* Tạo hình tròn */
        background-color: white; /* Màu nền */
        color: #1E4752;
        font-size: 20px;
        margin-right: 10px;
    }

.order:hover, .address:hover, .change-pass:hover {
    border: 1px solid white;
}

.avtar-name-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avtar-name-user h2{
    margin-top: 10px;
    font-size: 24px;
}


/*--------------------Thông tin cá nhân---------------------*/
.profile-info {
    width: 900px;
}

    .profile-info h2 {
        font-size: 34px;
        color: #1E4752;
        font-family: "quicksand-bold", sans-serif;
    }

.user-profile {
    display:flex;
    margin-top: 40px;
}

.info-input {
    width: 60%;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 100px;
}

    .avatar img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }


    .avatar p {
        margin-top: 10px;
        color: #808080;
        font-size: 14px;
    }


.btn-choose-image {
    background-color: white;
    color: #1E4752;
    border: 1px solid #1E4752;
    border-radius: 25px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
    font-family: quicksand-semibold, sans-serif;
}

    .btn-choose-image:hover {
        background-color: #EFEAD9;
        border: 1px solid #E4A400;
        color: #E4A400;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label, .gender-group label {
        display: block;
        margin-bottom: 5px;
        font-family: quicksand-bold, sans-serif;
    }

    .form-group input,
    .gender-group select {
        width: 100%; /* Chiều rộng 100% để chiếm toàn bộ không gian */
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }



    input[type="email"]:focus {
        outline: none; /* Bỏ viền khi focus */
    }

.input-container {
    display: flex;
    align-items: center;
}



.btn {
    background-color: #1E4752;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 35px;
    font-family: quicksand-semibold, sans-serif;
}

    .btn:hover {
        background-color: #E4A400;
        color: white;
    }
