@font-face {
    font-family: 'quicksand-regular';
    src: url('../fonts/quicksand-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'quicksand-bold';
    src: url('../fonts/quicksand-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'quicksand-semibold';
    src: url('../fonts/quicksand-semibold.ttf') format('truetype');
}
body {
    font-family: quicksand-regular, sans-serif;
}



/*------- Thanh điều hướng ---------*/
.breadcrumb {
    font-family: 'quicksand-semibold', sans-serif;
    font-size: 14px;
    background-color: white; /* Màu nền sáng */
    padding: 5px;
    border: 2px solid #1E4752;
    border-radius: 18px;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}


.home, .user-info {
    text-decoration: none;
    padding: 0 10px; /* Padding để tạo khoảng cách giữa các liên kết */
    line-height: 1.5; /* Căn chỉnh chiều cao của liên kết */
}

.home {
    color: #000000;
}

.user-info {
    color: #E4A400;
}

.breadcrumb a:hover {
    color: #E4A400; /* Màu khi di chuột vào */
}

.dot {
    color: #5c5c5c;
    padding: 0 5px; /* Khoảng cách giữa dấu chấm và các liên kết */
    line-height: 1.5;
    font-size: 20px; /* Căn chỉnh chiều cao cho dấu chấm */
}



.product-detail {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 100px;
}

.product-image {
    border-right: 1px soild ##1E4752;
}

    .product-image img {
        width: 300px;
        height: auto;
        border-radius: 8px;
        margin-right: 30px;
    }

.product-info {
    max-width: 600px;
}

    .product-info h2 {
        font-size: 28px;
        font-weight: bold;
        font-family: quicksand-bold, sans-serif;
    }

.product-category span {
    color: orange;
    font-weight: bold;
}

.product-price {
    font-size: 28px;
    color: orange;
    font-weight: bold;
}

.product-description {
    margin: 10px 0;
    color: #666;
}

.product-options {
    margin: 20px 0;
}

.product-weight button,
.product-quantity button {
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.product-quantity input {
    width: 50px;
    text-align: center;
}

.quantity-decrease,
.quantity-increase {
    color: orange;
    font-weight: bold;
}

.stock-info {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: green;
}

.product-buttons .btn-add-cart {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-add-cart {
    background-color: #1E4752;
    color: white;
}

