@font-face {
    font-family: 'quicksand-regular';
    src: url('../fonts/quicksand-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'quicksand-bold';
    src: url('../fonts/quicksand-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'quicksand-semibold';
    src: url('../fonts/quicksand-semibold.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    margin: 0; /* Loại bỏ margin mặc định */
    font-family: quicksand-regular, sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*----Top header------*/
.top-header {
    background-color: #EFEAD9;
    color: #1E4752;
    padding: 10px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 70px;
        width: 70px;
        border-radius: 50%; /* Tạo hình tròn */
        object-fit: cover; /* Đảm bảo ảnh được cắt tỉa vừa vặn */
        margin-right: 10px;
    }

.name-store {
    font-family: 'quicksand-bold', sans-serif;
}

    .name-store p {
        font-family: 'quicksand-semibold', sans-serif;
        margin-bottom: 0;
        font-size: 14px;
        color: #1E4752;
    }

    .name-store h2 {
        margin-top: 5px;
        color: #1E4752;
        font-size: 22px;
    }




nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.search-box {
    display: flex; /* Sắp xếp các phần tử trong hàng ngang */
    align-items: center;
    background-color: #fff;
    border-radius: 10px; /* Canh giữa theo chiều dọc */
}

    .search-box input {
        border: none; /* Bỏ viền */
        outline: none; /* Bỏ viền khi focus */
        width: 450px; /* Kích thước cố định */
        padding: 10px 20px; /* Khoảng cách bên trong */
        border-top-left-radius: 10px; /* Bo góc trái */
        border-bottom-left-radius: 10px;
        margin: 0; /* Loại bỏ khoảng cách mặc định */
        height: 40px;
    }

    .search-box button {
        background-color: #fff; /* Màu nền */
        border: none; /* Bỏ viền */
        outline: none; /* Bỏ viền khi focus */
        cursor: pointer; /* Con trỏ dạng tay khi hover */
        border-top-right-radius: 10px; /* Bo góc phải */
        border-bottom-right-radius: 10px;
        height: 40px; /* Chiều cao tương đồng với input */
        padding: 0 15px; /* Padding để chứa icon */
        margin: 0; /* Loại bỏ khoảng cách mặc định */
    }

    .search-box i {
        color: #1E4752;
        padding: 0 20px; /* Màu biểu tượng */
    }


.user-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa các icon */
}

    .user-actions a {
        color: #fff;
        margin-left: 15px;
        text-decoration: none;
    }

/*icon người dùng*/
.icon-user {
    height: 30px;
    width: 30px;
    object-fit: cover; /* Đảm bảo ảnh được cắt tỉa vừa vặn */
}



.cart-icon {
    position: relative;
    display: inline-block;
}

    .cart-icon .icon-cart {
        width: 30px; /* Kích thước icon giỏ hàng */
        height: auto;
    }

.cart-count {
    color: white !important;
    top: -4px !important;
}

    .cart-icon .cart-count {
        position: absolute;
        top: -4px;
        right: -5px;
        background-color: red;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 6px;
        min-width: 50%;
        line-height: 1;
        height: 60%;
    }




.icon-heart {
    height: 25px;
    width: 25px;
    object-fit: cover; /* Đảm bảo ảnh được cắt tỉa vừa vặn */
    margin-top: 5px;
}

/*----Nav header------*/
.navbar-header {
    display: flex;
    justify-content: space-between; /* Để các phần tử có khoảng cách đều */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    background-color: #1E4752; /* Màu nền của thanh điều hướng */
    padding: 15px 110px; /* Khoảng cách bên trong */
    color: white;
    height: 70px;
}


.nav-link {
    display: flex;
    align-items: center;
}

    .nav-link a {
        color: white;
        text-decoration: none;
        margin: 0 35px;
        font-size: 16px;
        position: relative; /* Cần thiết để định vị pseudo-element */
    }

        .nav-link a::after {
            content: ''; /* Tạo một phần tử ảo */
            position: absolute; /* Định vị pseudo-element */
            bottom: 0; /* Đặt ở phía dưới của liên kết */
            left: 0; /* Bắt đầu từ trái */
            width: 0; /* Ban đầu gạch dưới có độ rộng bằng 0 */
            height: 2px; /* Độ dày của gạch dưới */
            background-color: #E4A400; /* Màu sắc của gạch dưới */
            transition: width 0.3s ease-out; /* Hiệu ứng mở rộng */
        }

        .nav-link a:hover::after {
            width: 100%; /* Mở rộng gạch dưới đầy đủ chiều dài của liên kết */
            color: #E4A400;
        }

        .nav-link a:hover {
            color: #E4A400;
        }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex; /* Sử dụng flexbox */
    justify-content: space-between; /* Cách đều giữa các phần tử */
    align-items: center; /* Căn giữa theo chiều dọc */
    font-family: 'quicksand-semibold', sans-serif;
    background-color: #EFEAD9;
    color: #1E4752;
    padding: 10px 15px;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    cursor: pointer;
    width: 100%; /* Đảm bảo nút chiếm toàn bộ chiều rộng */
}

    .dropbtn i {
        margin: 0 15px; /* Khoảng cách giữa các icon */
    }

.dropdown-content {
    display: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: white;
    z-index: 1;
    padding: 10px 20px;
    color: black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

    .dropdown-content h3 {
        margin: 0;
        padding: 5px 0;
    }

    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 5px 0;
        font-size: 14px;
    }

        .dropdown-content a:hover {
            color: #E4A400;
            font-family: quicksand-bold, sans-serif;
        }


.dropdown:hover .dropdown-content {
    display: block;
}

.title_menu {
    position: relative;
    display: inline-block; /* Để pseudo-element căn chỉnh đúng */
    color: #1E4752;
    margin-top: 10px;
}
    .title_menu::after {
        content: '';
        display: block;
        width: 70px; /* Chiều dài đường gạch dưới */
        height: 3px; /* Độ dày đường gạch dưới */
        background-color: #E4A400; /* Màu sắc đường gạch dưới */
        position: absolute;
        left: 0; /* Căn chỉnh sang bên trái */
        bottom: -5px; /* Khoảng cách từ tiêu đề tới đường gạch dưới */
    }

    .title_menu span {
        font-size: 20px;
        font-family: quicksand-bold, sans-serif;
        color: #1E4752;
        font-weight: bold;
    }

        .title_menu span:hover {
            color: #E4A400;
        }


.nav-item ul {
    margin-top: 15px;
}



.category {
    text-align: center;
    max-width: 180px;
}

    .category img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    .category ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .category li {
        font-size: 14px;
        color: #555;
        margin: 5px 0;
    }

        .category li:hover {
            color: #007bff;
            cursor: pointer;
        }

.contact {
    display: flex;
    align-items: center;
}


    .contact img {
        height: 35px;
        width: 35px;
        object-fit: cover;
    }

.phone-label, .phone-number {
    margin: 0 15px; /* Xóa bỏ margin mặc định */
}

.phone-label {
    color: #7F775D;
    font-size: 14px;
}

.phone-number {
    font-weight: bold;
    color: #EFEAD9;
}

/*-----Section------*/
.container {
    margin: 0 auto;
    padding: 15px 110px;
    width: 100%;
    height: 100%;
    max-width: 2500px;
}



/*-----Footer------*/
.footer {
    background-color: #EFEAD9;
    padding: 40px 110px;
    color: #1E4752;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Adjust to space evenly */
    flex-wrap: wrap;
}

.footer-section {
    width: 25%;
}

.footer-logo {
    display: flex;
    align-items: center;
}

    .footer-logo img {
        width: 90px;
        height: 90px;
    }

.footer-name-store {
    margin-left: 20px;
}

    .footer-name-store p {
        font-family: 'quicksand-semibold', sans-serif;
        font-size: 20px; /* Adjust size */
        margin-bottom: 0;
    }

    .footer-name-store h2 {
        font-family: 'quicksand-bold', sans-serif;
        font-size: 32px; /* Adjust size */
    }

.footer-list, .footer-help, .footer-contact {
    margin-bottom: 15px;
    font-family: 'quicksand-bold', sans-serif;
    border-bottom: 3px solid #1E4752;
    color: #1E4752;
    font-size: 18px; /* Adjust size */
    margin-left: 130px;
    line-height: 35px;
}

.footer-list {
    width: 28%;
}

.footer-contact {
    width: 23%;
}


.footer-help {
    width: 20%;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin-left: 130px;
}

    .footer-section ul li {
        margin: 8px 0; /* Adjust spacing */
        font-size: 14px;
        position: relative; /* Cần phải có vị trí relative để định vị phần tử giả */
    }

        .footer-section ul li a {
            color: #1E4752;
            text-decoration: none;
            transition: color 0.3s; /* Hiệu ứng chuyển màu chữ */
            position: relative; /* Cần phải có vị trí relative để định vị phần tử giả */
        }

            .footer-section ul li a::after {
                content: ''; /* Tạo một phần tử ảo */
                position: absolute; /* Định vị pseudo-element */
                bottom: 0; /* Đặt ở phía dưới của liên kết */
                left: 0; /* Bắt đầu từ trái */
                width: 0; /* Ban đầu gạch dưới có độ rộng bằng 0 */
                height: 1px; /* Độ dày của gạch dưới */
                background-color: #E4A400; /* Màu sắc của gạch dưới */
                transition: width 0.3s ease-out; /* Hiệu ứng mở rộng */
            }

            .footer-section ul li a:hover::after {
                width: 100%; /* Khi hover, chiều rộng của đường gạch dưới sẽ mở rộng 100% */
            }

            .footer-section ul li a:hover {
                color: #E4A400; /* Thay đổi màu chữ khi hover */
            }


.footer-social {
    display: flex;
    gap: 25px;
    margin-top: 25px;
    margin-left: 110px;
}

    .footer-social a {
        font-size: 14px;
        text-decoration: none; /* Bỏ gạch chân */
    }

    .footer-social i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px; /* Đường kính của vòng tròn */
        height: 40px; /* Đường kính của vòng tròn */
        border: 2px solid #1E4752; /* Màu viền */
        border-radius: 50%; /* Tạo hình tròn */
        background-color: #1E4752; /* Màu nền */
        color: white; /* Màu icon */
    }

        .footer-social i:hover {
            border: 2px solid #E4A400; /* Màu viền */
            background-color: #E4A400; /* Màu nền */
        }

.txtAbout {
    margin-left: 110px;
    text-align: justify-all;
}
